@font-face {
	font-family: 'Marcellus';
	src: url('../../assets/font/Marcellus/Marcellus-Regular.ttf');
}

@font-face {
	font-family: 'Lora';
	src: url('../../assets/font/lora/Lora-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Lora-Italic';
	src: url('../../assets/font/lora/Lora-Italic-VariableFont_wght.ttf');
}

:root {
	/* color */
	--BLACK: #000000;
	--WHITE: #FFFFFF;
	--GOLD: #C3935B;
	--DARK: #242424;
	--DARK-LIGHT: #777777;
	--GREY: #DFDFDF;
	--FOOTER-COLOR: #EAEAEA;

	/* size */
	--S-14: 14px;
	--S-22: 22px;
	--S-30: 30px;
	--S-45: 45px;
	--S-54: 54px;
	--S-62: 62px;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lora';
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Marcellus';
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img {
	object-fit: contain;
	width: 100%;
}

.container-wrapper {
	width: 100%;
}

.container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

/* ________header */
.container-wrapper.nav {
	position: fixed;
	height: 80px;
	display: flex;
	align-items: center;
	z-index: 10;
}

.logo {
	flex-grow: 1.6 !important;
	justify-content: flex-start !important;
}

.log_button {
	flex-grow: 2.5 !important;
}

.container-wrapper.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.container-wrapper.nav ul li {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--WHITE);
	text-transform: uppercase;
	font-size: var(--S-14);
	font-family: 'Marcellus';
}

.border_bottom {
	border-bottom: 1px solid transparent;
	transition: all 500ms ease;
}

.border_bottom:hover {
	border-bottom: 1px solid var(--WHITE);
}

.cart>div {
	display: flex;
	border-bottom: 1px solid transparent;
	align-items: center;
	width: 30%;
	transition: all 500ms ease;
}

.cart>div input {
	background-color: transparent;
	border: none;
	outline: unset;
	color: var(--WHITE);
	transition: all 500ms ease;
	padding: 0 15px 0 calc(70%);
}

.header-wrapp {
	height: 750px;
}

.header-wrapp .container.header {
	background-repeat: no-repeat !important;
	background-size: contain !important;
	height: 100%;
	color: var(--WHITE);
}

.header-wrapp .container.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.header_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 570px;
	padding-left: 100px;
}

.header_content h1 {
	font-size: var(--S-54);
	line-height: calc(var(--S-54) *1.1);
	margin-bottom: 10px;
}

.additional_header {
	font-family: 'Lora-Italic';
	font-size: var(--S-22);
	line-height: calc(var(--S-22) *1.1);
	margin-bottom: 10px;
}

.banner_text_header {
	font-size: var(--S-14);
	line-height: calc(var(--S-14) *1.8);
	margin-bottom: 35px;
}

.button {
	min-width: 113px;
	height: 45px;
	padding: 10px 15px;
	margin-right: 10px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: var(--S-14);
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 500ms ease;
}

.button_wrapp {
	display: flex;
}

.header_content .button {
	border: 1px solid var(--WHITE);
}

.header_content .button:hover {
	background-color: var(--WHITE);
	color: var(--BLACK);
}

.header_content .button:first-child {
	background-color: var(--WHITE);
	color: var(--BLACK);
}

.header_content .button:first-child:hover {
	background-color: var(--BLACK);
	color: var(--WHITE);
}

.close_search-js {
	display: none;
}

.cart input {
	display: none;
}

.container-wrapper.nav.active-js .cart>div input {
	width: 100%;
	padding: 15px;
}

.container-wrapper.nav.active-js .cart>div {
	border-bottom: 1px solid white;
	width: 100%;
}

.container-wrapper.nav.active-js .close_search-js {
	display: block;
}

.container-wrapper.nav.active-js .nav_item,
.container-wrapper.nav.active-js .log_button,
.container-wrapper.nav.active-js .cart a {
	display: none !important;
}

.container-wrapper.nav.active-js .cart {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 47%;
	transform: translate(-50%, -50%);
}

.container-wrapper.nav.active-js .cart input {
	display: block;
}

.open_search-js,
.close_search-js {
	cursor: pointer;
}

.open_search-js path,
.close_search-js path,
.cart a path {
	transition: all 500ms ease;
}

.open_search-js:hover path,
.close_search-js:hover path,
.cart a:hover path {
	fill: var(--GOLD);
}














.row_category_img {
	width: 270px;
	height: 370px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 15px;
	text-align: center;
}

.row_category_img:first-child>p:last-child {
	color: var(--DARK-LIGHT);
}

.row_category_img:first-child>p:first-child {
	color: var(--BLACK);
}

.row_category_img>p:first-child {
	font-size: var(--S-30);
	line-height: calc(var(--S-30) *1.2);
	text-transform: uppercase;
	margin-bottom: 10px;
}

.row_category_img>p:last-child {
	font-size: var(--S-14);
	line-height: calc(var(--S-14) *1.8);
}

.row_category_img.bottom>p:last-child {
	color: var(--GREY);
}

.row_category_img.bottom>p:first-child {
	color: var(--WHITE);
}

.slide_wrapper_top {
	margin-bottom: 30px;
	margin-top: 50px;
}

.container.featured>p:first-child {
	font-family: "Lora-Italic";
	font-size: var(--S-22);
	line-height: calc(var(--S-22) *1.2);
	font-weight: 500;
	color: var(--GOLD);
	text-align: center;
	margin-bottom: 10px;
}

.container.featured>h4 {
	font-family: "Marcellus";
	font-size: var(--S-30);
	line-height: calc(var(--S-30) *1.3);
	text-align: center;
	color: var(--DARK);
	text-transform: uppercase;
	margin-bottom: 10px;
}

.container.featured>p {
	font-size: var(--S-14);
	line-height: calc(var(--S-14) *1.8);
	color: var(--DARK-LIGHT);
	text-align: center;
}

.slide_wrapper_bottom,
.slide_wrapper_top {
	display: flex;
	justify-content: space-between;
}

.slide_wrapper_bottom>a,
.slide_wrapper_top>a {
	width: 270px;
}

.slide_wrapper_bottom>div,
.slide_wrapper_top>div {
	width: 76%;
	position: relative;
	padding: 0px 40px;
}

.slider1_nav,
.slider2_nav {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transform: translateY(-50%);
}

.slider1_nav span,
.slider2_nav span {
	cursor: pointer;
	opacity: .7;
	transition: all 500ms ease;
}

.slider1_nav span:hover,
.slider2_nav span:hover {
	transform: scale(1.1);
	opacity: 1;
}

.slider_slick {
	height: 100%;
}

.slick-track,
.slick-list {
	height: 100%;
}

.slider_slick a {
	text-align: center;
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.slider_slick a h5 {
	color: var(--DARK);
	font-size: 14px;
}


.slide_category {
	color: var(--DARK-LIGHT);
}

.slide_price {
	color: var(--GOLD);
	font-weight: 700;
}

@media (max-width: 1000px) {}

@media (max-width: 600px) {}